body {
    background-color: lightyellow;
    text-align: center;
    font-family: Arial;
}
body {
    background-color: lightblue;
}
body {
    background-color: lightyellow;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
}

p {
    color: green;
    font-size: 18px;
}
